{% extends 'base.html' %}

{% block title %}Отели{% endblock %}

{% block content %}
    <h1>Отели</h1>
    <div class="card-container">
        <!-- Здесь будут карточки ресторанов -->
        <div class="card">
            <h2>Отель 1</h2>
            <p>Описание отеля 1.</p>
            <a href="#">Подробнее</a>
        </div>
        <div class="card">
            <h2>Отель 2</h2>
            <p>Описание отеля 2.</p>
            <a href="#">Подробнее</a>
        </div>
        <!-- Добавьте больше карточек по мере необходимости -->
    </div>
{% endblock %}
