{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="profile">
    <div class="sidebar">
        <h4>Псковская область</h4>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Coat_of_Arms_of_Pskov_oblast.png/768px-Coat_of_Arms_of_Pskov_oblast.png" alt="Герб Псковской области" style="width: 50px; height: 50px;">
        <h4> Герб Псковской области</h4>
        <div class="map-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/2018_Pskov_Oblast_gubernatorial_election_map.svg/1200px-2018_Pskov_Oblast_gubernatorial_election_map.svg.png" alt="Карта Псковской области" style="width: 50px; height: 50px;">
            <h4>Территория Псковской области</h4>
        </div>
    </div>
    <div class="main-content">
        <h1>PleskovTravelGuild</h1>
        <p>Узнавай о интересных местах: отелях, ресторанах, достопримечательностях!</p>
        <p>Все на едином портале, быстро и удобно!</p>
        <!-- Дополнительный контент -->
    </div>
</div>
{% endblock %}
