{% extends 'base.html' %}

{% block title %}Мероприятия на природе{% endblock %}

{% block content %}
    <h1>Мероприятия на природе</h1>
    <div class="card-container">
        <!-- Здесь будут карточки ресторанов -->
        <div class="card">
            <h2>Мероприятие 1</h2>
            <p>Описание мероприятия 1.</p>
            <a href="#">Подробнее</a>
        </div>
        <div class="card">
            <h2>Мероприятие 2</h2>
            <p>Описание мероприятия 2.</p>
            <a href="#">Подробнее</a>
        </div>
        <!-- Добавьте больше карточек по мере необходимости -->
    </div>
{% endblock %}
